<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=localhost;Database=BreadApp;User Id=sa;Password=123456;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;" />
		<add key="BackupFolder" value="E:\Satge 2\24 - Windows Services\Project2-DatabaseBackupService\BackupFolder" />
		<add key="LogFolder" value="E:\Satge 2\24 - Windows Services\Project2-DatabaseBackupService" />
		<add key="LogFileName" value="DbBackupLog.txt"/>
		<add key="BackupIntervalMinutes" value="60" />
	</appSettings>

</configuration>